<!DOCTYPE html>
<html>
<title>Documents</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">

    <table class="w3-table w3-striped">
        <tr>
            <th>Codigo</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th>Cor</th>
            <th>Chassi</th>
            <th>Motor</th>
        </tr>
        <tr th:each="item : ${c}">
            <div th:each="i : ${item}">
                <td> 
                    <h5 th:text="${i.value.codigo}"></h5>
                    </td>
                    <td>        
                        <h5 th:text="${i.value.Modelo}"></h5>
                    </td>
                    <td>
                    <h5 th:text="${i.value.Ano}"></h5>
                    </td>
                    <td>
                    <h5 th:text="${i.value.Cor}"><h5>
                    </td>
                    <td>
                    <h5 th:text="${i.value.Chassi}"><h5>
                    </td>
                    <td>
                    <h5 th:text="${i.value.Motor}"><h5>
                    </td>
            </div>
            
        </tr>
    </table>
</div>

</body>
</html>