<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:each="item : ${p}">
        <div th:each="i : ${item}">
            <h3 th:text="${i.value.codigo}"></h3>
            <h3 th:text="${i.value.modelo}"></h3>
            <h3 th:text="${i.value.ano}"></h3>
            <h3 th:text="${i.value.cor}"></h3>
            <h3 th:text="${i.value.chassi}"></h3>
            <h3 th:text="${i.value.motor}"></h3>
            <br>
        </div>
    </div>
</body>
</html>
