<!DOCTYPE html>
<html>
<title>Documents</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">

    <table class="w3-table w3-striped">
        <tr>
            <th>Codigo</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th>Cor</th>
            <th>Chassi</th>
            <th>Motor</th>
        </tr>
        <tr th:each="item : ${listCarros}"></tr>
            
            <td> 
                <h5 th:text="${item?.codigo}"></h5>
                </td>
                <td>        
                <h5 th:text="${item?.modelo}"></h5>
                </td>
                <td>
                <h5 th:text="${item?.ano}"></h5>
                </td>
                <td>
                <h5 th:text="${item?.cor}"><h5>
                </td>
                <td>
                <h5 th:text="${item?.chassi}"><h5>
                </td>
                <td>
                <h5 th:text="${item?.motor}"><h5>
                </td>
        
            
        </tr>
    </table>
</div>

</body>
</html>